@tailwind base;
@tailwind components;
@tailwind utilities;

/*NOTE - NAVBAR CSS AREA */

.navbar__custom{
    background-color: black;
}

.navbar__menu {
    font-weight: 700;
    font-size: 24px;
    color: #FFCF53;
    padding: 15px;
}

.active {
    color: #E2AA19;
    font-size: 30px;
}

.dropdown__button {
    color: white;
}


/*NOTE - END NAVBAR CSS AREA */



/*NOTE - CONTACT CSS AREA */

.contact__title {
    font-size: 64px;
}

.contact__bottom {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}



/*NOTE - END CONTACT CSS AREA */


/* NOTE - AUTH CSS AREA */

.auth {
    height: calc(100vh - 90px);
}

.layout__auth {
    background-color: rgb(0, 0, 0, 0.5);
}


/* NOTE - END REGISTER CSS AREA */


